* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    scroll-snap-stop: always;
    scroll-snap-type: both mandatory;
}

body {
    background-color: #E6E6E6;
    color: #1E1E1E;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    background-color: #D6D6D6;
    position: fixed;
    flex-wrap: wrap;
    transition: 0.8s ease-in-out;
    scroll-snap-align: center !important;
    z-index: 10;
}

.title {
    text-align: center;
}

.title_image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 0.8s ease-in-out;
    background-image: url("/images/title_background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.title h1 {transition: 0.8s ease-out;}
.title h4 {transition: 0.8s ease-out;}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/title_background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-out;
    z-index: 11;
}


/* ----- Set stuff -----*/
h1 { margin-bottom: 5px}
h4 { margin-top: 5px}

a {
    background: none;
    border: none;
    color: #1E1E1E;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: color 600ms ease-in-out;
    font-size: 18px;
    text-decoration: none;
}

a::after {
    border-bottom: 3px solid #1E1E1E;
    content: "";
    display: block;
    margin-top: 3px;
    opacity: 0;
    position: relative;
    transition: all 450ms ease-in-out;
    width: 1%;
}

a:hover::after {
    opacity: 1;
    width: 100%;
}

a:hover {
    color: #1E1E1E
}

.left { float: left }
.right { float: right }

.order_1 { order: 1 !important}
.order_2 { order: 2 !important}
.order_3 { order: 3 !important}
.order_4 { order: 4 !important}
.order_5 { order: 5 !important}

.z_1 { z-index: 1 !important }
.z_2 { z-index: 2 !important }
.z_5 { z-index: 5 !important }