.photography {
    margin-top: 10vh;
    padding-bottom: 20vh;
    padding-top: 10vh;
    width: 100vw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start !important;
}

.photography_container {
    width: 80vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.photography_container h2 {
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.picture_box:hover {
    filter: drop-shadow(0 0 4px #4f4f4f);
    z-index: 1;
}
