.websites {
    align-items: center;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    margin-top: 10vh;
    overflow-x: hidden;
    width: 100vw;
}

.websites h3 {
    border-top: 10vh;
}

.website_display {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px;
    width: 100vw;
}


/* --- Iframe --- */

.iframe_box {
    align-items: center;
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
    display: flex;
    filter: drop-shadow(0 0 8px #4f4f4f);
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    padding: 0;
    transition: 0.8s;
    width: 70vw;
}

iframe {
    border-radius: 10px;
    border-width: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.iframe_text {
    color: #E6E6E6;
    display: none;
    height: 83vh;
    margin: 0;
    transition: all 0.5s ease;
    width: 73vw;
    z-index: 3;
}

@media (hover: hover) {
    iframe:hover ~ .iframe_text {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .iframe_text:hover {
        align-items: center;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
    }

    .iframe_text:hover ~ h3 {
        height: 73vh !important;
        width: 70vw;
    }
}

@media (hover: none) {
    .iframe_text {
        display: block;
        font-size: 0 !important;
    }
}

.website_wrap {
    display: flex;
    flex-direction: row;
    height: 80vh;
    transform: translateX(8vw);
}

/* --- Website text --- */

.expanded {
    transform: translateX(-13vw) !important;
    width: 65vw !important;
}

.hidden {
    display: none !important;
}

.website_text_wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    opacity: 0;
    transition: 0.8s;
}

.website_text_wrap_show {
    opacity: 1;
    transform: translateX(-5vw);
}

.website_text {
    text-align: center;
    width: 15vw;
}

.website_text_bottom {
    align-items: center;
    bottom: 2vh;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.website_button {
    margin-bottom: 2vh;
    width: fit-content;
}

